form{
    width: auto;
    max-width: 70%;
    margin: 0 auto;

    background-color: var(--primary-color);
}

.inputPlaceholder{
    position: relative;
    display: grid;
    grid-auto-flow: row;
    width: 75%;
    margin-inline: auto ;

    background-color: var(--secondary-color);
}

.inputPlaceholder > label {
    margin-right: auto;
    margin-top: 1.5rem;
    margin-left: 5%;
}
.inputPlaceholder > input{
    width: 40%;
    background-color: blueviolet;
    border-radius: .5em;
    margin-left: 5%;

}

.inputPlaceholder > textarea{
    width: 85%;
    margin-inline: auto;
    background-color: #6315A8;
    color: #AFEEEE;
    border-radius: 2em;
}

.inputPlaceholder > [for="backStory"]{
   margin: 1.5rem 0 0 7.5%;
}

#bandPicture{
    margin: 1rem auto 0.75rem 0;
}

#submitB {
    position: absolute;
    
    top: 1.75em;
    right: 2em;

    width: max-content;
    
    padding: 0.85rem 1.75rem;

    border-radius: 4rem;
    background-color: aquamarine;
}